.ar-form {
    .ar-form-wrapper {
        min-height: 50svh;
        align-content: center;
        padding-block: 2rem;
        border-radius: 1rem;
        width: 100%;
        max-width: 670px;

        h1 {
            color: var(--ar-white);
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            .ar-input-group {
                background: var(--ar-white);
                border: 1px solid var(--ar-blue);
                border-radius: 1rem;
                position: relative;
                display: flex;
                align-items: center;

                .ar-textarea {
                    padding-block: 1rem;
                    width: 100%;
                }

                label {
                    position: absolute;
                    align-content: center;
                    top: -0.2rem;
                    left: 1rem;
                    padding-inline: 0.5rem;
                    transform: translateY(70%);
                    transition: all 200ms ease;
                }

                input,
                textarea,
                select {
                    padding: 1rem 2rem;
                    width: 100%;
                    border: none;
                    border-radius: 1rem;
                    resize: none;

                    &:not(:placeholder-shown),
                    &:focus {
                        + label{    
                            transform: scale(0.8);
                        }
                        ~ .ar-error-message {    
                            transform: scale(0.8);
                            left: 0.4rem;
                        }
                    }
                }

                .ar-error-message {
                    position: absolute;
                    align-content: center;
                    left: 6rem;
                    bottom: -0.2rem;
                    transform: translateY(-90%);
                    padding-inline: 0.5rem;
                    transition: all 200ms ease;
                    pointer-events: none;
                }
            }

            .ar-btn-group {
                .ar-btn {
                    padding: 0.5rem 1rem;
                    border-radius: 0.5rem;
                    background-color: var(--ar-teal);
                    transition: all 200ms ease;

                    &:hover {
                        background-color: var(--ar-blue);
                    }
                }
            }
        }
    }
}