.ar-admin {
    padding-block: 2rem;

    .ar-admin-wrapper {
        background: var(--ar-white);
        border-radius: 0.5rem;

        table {   
            width: 100%;
            
            thead {
                border-color: transparent;
                border-width: unset;
                border-bottom: 1px solid var(--black);
                
                th {
                    border: 1px solid var(--black);
                    
                    &:first-child {
                        border-top-left-radius: 0.5rem;
                    }
                    &:last-child {
                        border-top-right-radius: 0.5rem;
                    }
                }
                
                td {
                    border: 1px solid var(--black);

                    input {
                        width: 100%;
                    }
                }
            }
            tbody {
                border-color: transparent;
                border-width: unset;
                border-top: 1px solid var(--black);

                td {
                    border: 1px solid var(--black);
                }

                tr:last-child{
                td {
                    &:first-child {
                        border-bottom-left-radius: 0.5rem;
                    }
                    &:last-child {
                        border-bottom-right-radius: 0.5rem;
                    }
                }
                }

                .bi-pencil-fill {
                    color: var(--ar-green);
                }
                .bi-eye-fill {
                    color: var(--ar-white);
                }
                .bi-trash-fill {
                    color: var(--ar-red);
                }
            }
            
            
            th,td {
                padding: 0.5rem 1rem;
            }
            
            .even {
                background-color: var(--ar-blue);
            }
            
            .odd {
                background-color: var(--ar-teal);
            }
        }

        input, 
        select {
            height: 2rem;
            border: 1px solid var(--black);
            border-radius: 0.5rem;
        }
    }
}