.ar-portale {
    padding-block: 2rem;

    .ar-portale-title {
        background: var(--ar-white);
        border-radius: 0.5rem;
        padding: 1rem 2rem;
        width: fit-content;
        margin-bottom: 2rem;
    }

    .ar-portale-wrapper {
        background: var(--ar-white);
        border-radius: 0.5rem;
        padding: 1rem 2rem;
    }
}