@import "assets";
@import "variables";

//Layouts

@import "layouts/header";
@import "layouts/footer";
@import "layouts/form";

//Pages

@import "pages/home";
@import "pages/admin";

main { 
    background: url(../img/logo_ar_full.png) var(--black) no-repeat fixed center;
    background-size: 30%;
    padding-bottom: 4rem;
    min-height: 100svh;
}

.error,
.ar-error-message {
    color: var(--bs-danger);
}

.asc::after {
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -.125em;
    -webkit-font-smoothing: antialiased;
    content: "\F229";
    transition: all 300ms ease-in-out;
    //TODO controllare qusto
}

.desc::after {
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -.125em;
    -webkit-font-smoothing: antialiased;
    content: "\F229";
    transition: all 300ms ease-in-out;
    //TODO controllare qusto
}